site_name: Документация
site_description: Описание документация установки
site_author: WWW
site_url: https://oit1.github.io/marking-dairy-products-tutorial/
repo_url: https://github.com/oit1/marking-dairy-products-tutorial
repo_name: marking-tutorial

nav:
  - 'Начало': index.md
  - 'Производство':
    - 'Цех сырков': 'production/cheese.md'
    - 'Основное подразделение': 'production/main.md'
  - 'Авторы':
    - 'О программе': about.md
    - 'Лицензии': license.md
    - 'Версии': release-notes.md
    - 'Внешний ресурс': 'https://example.com/'


theme:
  name: material
  language: ru
  #logo: assets/logo.png
  #favicon: images/logo.png
  features:
    - toc.integrate
    - navigation.tabs
    - navigation.sections
    - navigation.instant    
    - navigation.top
    - search.highlight
    - search.share
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - header.autohide
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: teal
      accent: purple 
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: teal
      accent: lime

plugins:
  - search:
      lang: ru
  - glightbox

extra:
  homepage: https://oit1.github.io/marking-dairy-products-tutorial/
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/oit1
      name: Yuri Buryakov
    - icon: fontawesome/brands/github-alt
      link: https://github.com/dvdocumentation
      name: SimpleUI
    - icon: fontawesome/brands/slack
      link: mailto:oit1@kmkk.ru
      name: write by email
#  generator: false

markdown_extensions:
  - tables
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.mark
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

copyright: |
  &copy; 2023 <a href="https://github.com/oit1"  target="_blank" rel="noopener">Yuri Buryakov</a>